@import "./variable";

#top-header {
  padding: 26px 0;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;

  nav {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo-search {
      display: flex;
      align-items: center;
      gap: 30px;
      .top-logo {
        width: 124px;
        height: 38px;

        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          background: url(../assets/img/logo-hodu.png) no-repeat center / 100%
            100%;
        }
      }
      .search-form {
        width: 400px;
        height: 46px;
        position: relative;
        input {
          border: 2px solid $main-color;
          width: 100%;
          height: 100%;
          border-radius: 50px;
          padding-left: 22px;
          padding-right: 40px;
          font-size: 1rem;

          &::placeholder {
            color: $gray;
          }
        }
        button {
          width: 28px;
          height: 28px;
          background: url(../assets/img/search.png) no-repeat center/100% 100%;
          position: absolute;
          top: 9px;
          right: 22px;
        }
      }
    }
    .user-btns {
      display: flex;
      align-items: center;
      gap: 26px;

      .shopping-cart-btn,
      .login-btn,
      .my-page-btn-wrapper .my-page-btn {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;

        .img {
          width: 32px;
          height: 32px;
        }
        .txt {
          font-size: 0.75rem;
        }
      }

      .shopping-cart-btn {
        .img {
          background: url(../assets/img/icon-shopping-cart.svg) no-repeat center /
            100% 100%;
        }
        &:hover {
          .img {
            background: url(../assets/img/icon-shopping-cart-2.svg) no-repeat
              center / 100% 100%;
          }
          .txt {
            color: $main-color;
          }
        }
      }
      .login-btn {
        .img {
          background: url(../assets/img/icon-user.svg) no-repeat center/ 100%
            100%;
        }

        &:hover {
          .img {
            background: url(../assets/img/icon-user-2.svg) no-repeat center /
              100% 100%;
          }
          .txt {
            color: $main-color;
          }
        }
      }
      .my-page-btn-wrapper {
        position: relative;
        .my-page-btn {
          .img {
            background: url(../assets/img/icon-user.svg) no-repeat center/ 100%
              100%;
          }

          &:hover {
            .img {
              background: url(../assets/img/icon-user-2.svg) no-repeat center/
                100% 100%;
            }
            .txt {
              color: $main-color;
            }
          }

          &.on {
            .img {
              background: url(../assets/img/icon-user-2.svg) no-repeat center/
                100% 100%;
            }
            .txt {
              color: $main-color;
            }
          }
        }
        .list-wrapper {
          position: absolute;
          top: 64px;
          left: 50%;
          transform: translateX(-50%);
          background-color: white;
          width: 130px;
          height: 108px;
          border-radius: 10px;
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
          display: none;

          &.on {
            display: block;
          }

          .triangle {
            width: 30px;
            height: 30px;
            background: url(../assets/img/polygon.png) no-repeat center / 100%
              100%;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
          }

          > ul {
            padding: 10px;

            > li {
              &:first-child {
                margin-bottom: 8px;
              }

              button,
              a {
                font-weight: 500;
                color: $gray;
                width: 110px;
                height: 40px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                  border: 1px solid $gray;
                  color: black;
                }
              }
            }
          }
        }
      }
      .seller-center-btn {
        width: 168px;
        height: 54px;
        gap: 8px;
        margin-left: 4px;

        .img {
          width: 32px;
          height: 32px;
          background: url(../assets/img/icon-shopping-bag.svg) no-repeat center /
            100% 100%;
        }

        .txt {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}
