#top-header {
  padding: 26px 0;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}
#top-header nav {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#top-header nav .logo-search {
  display: flex;
  align-items: center;
  gap: 30px;
}
#top-header nav .logo-search .top-logo {
  width: 124px;
  height: 38px;
}
#top-header nav .logo-search .top-logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#top-header nav .logo-search .top-logo a img {
  width: 100%;
  height: 100%;
}
#top-header nav .logo-search .search-form {
  width: 400px;
  height: 46px;
  position: relative;
}
#top-header nav .logo-search .search-form input {
  border: 2px solid #21bf48;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding-left: 22px;
  padding-right: 40px;
  font-size: 1rem;
}
#top-header nav .logo-search .search-form input::-moz-placeholder {
  color: #767676;
}
#top-header nav .logo-search .search-form input::placeholder {
  color: #767676;
}
#top-header nav .logo-search .search-form button {
  width: 28px;
  height: 28px;
  background: url(../assets/img/search.png) no-repeat center/100% 100%;
  position: absolute;
  top: 9px;
  right: 22px;
}
#top-header nav .user-btns {
  display: flex;
  align-items: center;
  gap: 26px;
}
#top-header nav .user-btns .shopping-cart-btn,
#top-header nav .user-btns .login-btn,
#top-header nav .user-btns .my-page-btn-wrapper .my-page-btn {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}
#top-header nav .user-btns .shopping-cart-btn .img,
#top-header nav .user-btns .login-btn .img,
#top-header nav .user-btns .my-page-btn-wrapper .my-page-btn .img {
  width: 32px;
  height: 32px;
}
#top-header nav .user-btns .shopping-cart-btn .txt,
#top-header nav .user-btns .login-btn .txt,
#top-header nav .user-btns .my-page-btn-wrapper .my-page-btn .txt {
  font-size: 0.75rem;
}
#top-header nav .user-btns .shopping-cart-btn .img {
  background: url(../assets/img/icon-shopping-cart.svg) no-repeat center/100% 100%;
}
#top-header nav .user-btns .shopping-cart-btn:hover .img {
  background: url(../assets/img/icon-shopping-cart-2.svg) no-repeat center/100% 100%;
}
#top-header nav .user-btns .shopping-cart-btn:hover .txt {
  color: #21bf48;
}
#top-header nav .user-btns .login-btn .img {
  background: url(../assets/img/icon-user.svg) no-repeat center/100% 100%;
}
#top-header nav .user-btns .login-btn:hover .img {
  background: url(../assets/img/icon-user-2.svg) no-repeat center/100% 100%;
}
#top-header nav .user-btns .login-btn:hover .txt {
  color: #21bf48;
}
#top-header nav .user-btns .my-page-btn-wrapper {
  position: relative;
}
#top-header nav .user-btns .my-page-btn-wrapper .my-page-btn .img {
  background: url(../assets/img/icon-user.svg) no-repeat center/100% 100%;
}
#top-header nav .user-btns .my-page-btn-wrapper .my-page-btn:hover .img {
  background: url(../assets/img/icon-user-2.svg) no-repeat center/100% 100%;
}
#top-header nav .user-btns .my-page-btn-wrapper .my-page-btn:hover .txt {
  color: #21bf48;
}
#top-header nav .user-btns .my-page-btn-wrapper .my-page-btn.on .img {
  background: url(../assets/img/icon-user-2.svg) no-repeat center/100% 100%;
}
#top-header nav .user-btns .my-page-btn-wrapper .my-page-btn.on .txt {
  color: #21bf48;
}
#top-header nav .user-btns .my-page-btn-wrapper .list-wrapper {
  position: absolute;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 130px;
  height: 108px;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  display: none;
}
#top-header nav .user-btns .my-page-btn-wrapper .list-wrapper.on {
  display: block;
}
#top-header nav .user-btns .my-page-btn-wrapper .list-wrapper .triangle {
  width: 30px;
  height: 30px;
  background: url(../assets/img/polygon.png) no-repeat center/100% 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
#top-header nav .user-btns .my-page-btn-wrapper .list-wrapper > ul {
  padding: 10px;
}
#top-header nav .user-btns .my-page-btn-wrapper .list-wrapper > ul > li:first-child {
  margin-bottom: 8px;
}
#top-header nav .user-btns .my-page-btn-wrapper .list-wrapper > ul > li button,
#top-header nav .user-btns .my-page-btn-wrapper .list-wrapper > ul > li a {
  font-weight: 500;
  color: #767676;
  width: 110px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top-header nav .user-btns .my-page-btn-wrapper .list-wrapper > ul > li button:hover,
#top-header nav .user-btns .my-page-btn-wrapper .list-wrapper > ul > li a:hover {
  border: 1px solid #767676;
  color: black;
}
#top-header nav .user-btns .seller-center-btn {
  width: 168px;
  height: 54px;
  gap: 8px;
  margin-left: 4px;
}
#top-header nav .user-btns .seller-center-btn .img {
  width: 32px;
  height: 32px;
  background: url(../assets/img/icon-shopping-bag.svg) no-repeat center/100% 100%;
}
#top-header nav .user-btns .seller-center-btn .txt {
  font-size: 18px;
  font-weight: 500;
}