@import "./variable";

.login-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .links-list {
    margin-top: 12px;
    display: flex;
    align-items: center;

    li {
      display: flex;
      align-items: center;

      a {
        color: $gray-02;
      }

      &:first-child {
        &::after {
          content: "";
          display: block;
          width: 1px;
          height: 12px;
          background-color: $gray-02;
          margin: 0 14px;
        }
      }
    }
  }

  .login-form {
    .error-message {
      margin-top: 26px;
    }
  }

  .login-btn {
    &.error {
      margin-top: 26px !important;
    }
  }
}
