@import "./_variable.scss";

.not-found-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 50px;

  .img-section {
    width: 276px;
    height: 236px;
    background: url(../assets/img/icon-404.png) no-repeat center/ 100% 100%;
  }

  .txt {
    width: 414px;
    height: 236px;
    padding-top: 16px;

    h3 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      color: $gray;
      margin-bottom: 40px;
    }

    .btns-list {
      display: flex;
      gap: 14px;
      a {
        width: 200px;
        height: 60px;
        font-weight: 700;
      }
      button {
        width: 200px;
        height: 60px;
        font-weight: 700;
      }
    }
  }
}
