@import "./variable";

.product-detail {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 100px;

  .img-info {
    margin-top: 80px;
    display: flex;
    gap: 50px;
    margin-bottom: 140px;
    .img-wrapper {
      max-width: 600px;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
      }
    }
    .info {
      .store-name {
        font-size: 18px;
        color: $gray;
        margin-bottom: 16px;
      }
      .product-name {
        font-size: 36px;
        margin-bottom: 20px;
      }

      > .price {
        display: flex;
        gap: 2px;
        align-items: center;
        gap: 2px;
        margin-bottom: 138px;

        .number {
          font-size: 36px;
          font-weight: 700;
        }
        .txt {
          font-size: 18px;
        }
      }

      .counter-wrapper {
        width: 630px;
        margin-bottom: 32px;
        > p {
          color: $gray;
          margin-bottom: 20px;
        }
        .counter {
          border-top: 1px solid $white-gray-02;
          padding: 30px 0;
          border-bottom: 1px solid $white-gray-02;
          display: flex;
          align-items: center;

          .minus {
            padding: 0 14px;
            border: 1px solid $white-gray-02;
            border-radius: 5px 0 0 5px;
            height: 50px;

            .img {
              width: 20px;
              height: 2px;
              background-color: $white-gray-02;
            }
          }

          .number {
            font-size: 18px;
            border-top: 1px solid $white-gray-02;
            border-bottom: 1px solid $white-gray-02;
            height: 50px;
            padding: 0 20px;
            display: flex;
            align-items: center;
          }

          .plus {
            padding: 0 14px;
            border: 1px solid $white-gray-02;
            border-radius: 0 5px 5px 0;
            position: relative;
            height: 50px;

            .img-01 {
              width: 20px;
              height: 2px;
              background-color: $white-gray-02;
            }
            .img-02 {
              width: 2px;
              height: 20px;
              background-color: $white-gray-02;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      .total-price-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 22px;
        > p {
          font-size: 18px;
          font-weight: 500;
        }
        .total-price {
          display: flex;
          align-items: center;

          .total-amount {
            color: $gray;
            font-size: 18px;
            display: flex;

            > span {
              font-weight: 700;
              color: $main-color;
              margin-left: 4px;
            }

            &::after {
              content: "";
              display: inline-block;
              width: 1px;
              height: 17px;
              background-color: $white-gray-02;
              margin: 0 12px;
            }
          }
          .total-price {
            color: $main-color;
            display: flex;
            align-items: flex-center;
            gap: 2px;
            .price {
              font-size: 36px;
              font-weight: 700;
            }
            .txt {
              font-size: 18px;
            }
          }
        }
      }
      .btns {
        display: flex;
        gap: 14px;
        .buy-btn {
          width: 416px;
          height: 60px;
          font-size: 18px;
          font-weight: 700;
        }
        .shopping-cart-btn {
          width: 200px;
          height: 60px;
          font-size: 18px;
          font-weight: 700;
          background-color: $gray;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
        }
      }
    }
  }

  .btns-list {
    display: flex;
    margin-bottom: 360px;

    li {
      width: 25%;

      button {
        width: 100%;
        height: 60px;
        border-bottom: 6px solid $white-gray-03;
        font-size: 18px;
        font-weight: 500;
        color: $gray;

        &.active {
          color: $main-color;
          font-weight: 700;

          border-bottom: 6px solid $main-color;
        }
      }
    }
  }
}
