.signup-section {
  width: 100%;
  min-height: 100vh;
  padding: 70px 0 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signup-section .signup-form {
  width: 550px;
}
.signup-section .signup-form .fieldset-wrapper {
  border: 1px solid #c4c4c4;
  padding: 40px 35px 36px;
  background-color: white;
  transform: translateY(-18px);
  border-radius: 10px;
  width: 100%;
}
.signup-section .signup-form .fieldset-wrapper fieldset {
  margin-bottom: 12px;
}
.signup-section .signup-form .fieldset-wrapper fieldset .error-message.on {
  margin-top: 10px;
}
.signup-section .signup-form .fieldset-wrapper fieldset .signup-input,
.signup-section .signup-form .fieldset-wrapper fieldset select {
  height: 54px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 0 16px;
}
.signup-section .signup-form .fieldset-wrapper fieldset .signup-input:focus,
.signup-section .signup-form .fieldset-wrapper fieldset select:focus {
  border: 1px solid #21bf48;
  outline: none;
}
.signup-section .signup-form .fieldset-wrapper fieldset label {
  color: #767676;
  margin-bottom: 10px;
  display: inline-block;
}
.signup-section .signup-form .fieldset-wrapper fieldset.id-input-set .input-button {
  display: flex;
  gap: 12px;
}
.signup-section .signup-form .fieldset-wrapper fieldset.id-input-set .input-button #user-id {
  width: 346px;
}
.signup-section .signup-form .fieldset-wrapper fieldset.id-input-set .input-button button {
  flex-grow: 1;
}
.signup-section .signup-form .fieldset-wrapper fieldset.password-input-set .input-check, .signup-section .signup-form .fieldset-wrapper fieldset.password-check-input-set .input-check {
  position: relative;
}
.signup-section .signup-form .fieldset-wrapper fieldset.password-input-set .input-check .signup-input, .signup-section .signup-form .fieldset-wrapper fieldset.password-check-input-set .input-check .signup-input {
  width: 100%;
}
.signup-section .signup-form .fieldset-wrapper fieldset.password-input-set .input-check .custom-check-btn, .signup-section .signup-form .fieldset-wrapper fieldset.password-check-input-set .input-check .custom-check-btn {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../assets/img/icon-check-off.svg) no-repeat center/100% 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}
.signup-section .signup-form .fieldset-wrapper fieldset.password-input-set .input-check .custom-check-btn.on, .signup-section .signup-form .fieldset-wrapper fieldset.password-check-input-set .input-check .custom-check-btn.on {
  background: url(../assets/img/icon-check-on.svg) no-repeat center/100% 100%;
}
.signup-section .signup-form .fieldset-wrapper fieldset.password-check-input-set {
  margin-bottom: 20px;
}
.signup-section .signup-form .fieldset-wrapper fieldset.name-input-set {
  margin-bottom: 16px;
}
.signup-section .signup-form .fieldset-wrapper fieldset.name-input-set .signup-input {
  width: 100%;
}
.signup-section .signup-form .fieldset-wrapper fieldset.phone-number-set {
  margin-bottom: 0;
}
.signup-section .signup-form .fieldset-wrapper fieldset.phone-number-set .inputs-wrapper {
  display: flex;
  gap: 12px;
}
.signup-section .signup-form .fieldset-wrapper fieldset.phone-number-set .inputs-wrapper select {
  width: 152px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../assets/img/icon-down-arrow.svg) no-repeat center right 16px/22px 22px;
}
.signup-section .signup-form .fieldset-wrapper fieldset.phone-number-set .inputs-wrapper select:focus {
  background: url(../assets/img/icon-up-arrow.svg) no-repeat center right 16px/22px 22px;
}
.signup-section .signup-form .fieldset-wrapper fieldset.phone-number-set .inputs-wrapper input {
  width: 152px;
}
.signup-section .signup-form .fieldset-wrapper fieldset.business-number-set {
  margin-top: 50px;
  margin-bottom: 16px;
}
.signup-section .signup-form .fieldset-wrapper fieldset.business-number-set .input-button {
  display: flex;
  gap: 12px;
}
.signup-section .signup-form .fieldset-wrapper fieldset.business-number-set .input-button input {
  width: 346px;
}
.signup-section .signup-form .fieldset-wrapper fieldset.business-number-set .input-button .primary-btn {
  width: 122px;
}
.signup-section .signup-form .fieldset-wrapper fieldset.store-name-set {
  margin-bottom: 0;
}
.signup-section .signup-form .fieldset-wrapper fieldset.store-name-set input {
  display: block;
  width: 100%;
}
.signup-section .signup-form .terms-agreement {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 17px;
}
.signup-section .signup-form .terms-agreement .checkbox-wrapper {
  position: relative;
  width: 16px;
  height: 16px;
}
.signup-section .signup-form .terms-agreement .checkbox-wrapper input {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 50;
  opacity: 0;
  cursor: pointer;
}
.signup-section .signup-form .terms-agreement .checkbox-wrapper input:checked + .custom-checkbox {
  background: url(../assets/img/check-fill-box.svg) no-repeat center/100% 100%;
}
.signup-section .signup-form .terms-agreement .checkbox-wrapper .custom-checkbox {
  width: 16px;
  height: 16px;
  background: url(../assets/img/check-box.svg) no-repeat center/100% 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.signup-section .signup-form .terms-agreement > p {
  width: 454px;
  color: #767676;
}
.signup-section .signup-form .terms-agreement > p > a {
  color: black;
  font-weight: 700;
  text-decoration: underline;
}
.signup-section .signup-form .btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}
.signup-section .signup-form .btn-wrapper .signup-btn {
  width: 480px;
  height: 60px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
}