@import "./variable";

.signup-section {
  width: 100%;
  min-height: 100vh;
  padding: 70px 0 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .signup-form {
    width: 550px;
    .fieldset-wrapper {
      border: 1px solid $white-gray-02;
      padding: 40px 35px 36px;
      background-color: white;
      transform: translateY(-18px);
      border-radius: 10px;
      width: 100%;

      fieldset {
        margin-bottom: 12px;

        .error-message {
          &.on {
            margin-top: 10px;
          }
        }

        .signup-input,
        select {
          height: 54px;
          border: 1px solid $white-gray-02;
          border-radius: 5px;
          padding: 0 16px;

          &:focus {
            border: 1px solid $main-color;
            outline: none;
          }
        }

        label {
          color: $gray;
          margin-bottom: 10px;
          display: inline-block;
        }

        &.id-input-set {
          .input-button {
            display: flex;
            gap: 12px;

            #user-id {
              width: 346px;
            }
            button {
              flex-grow: 1;
            }
          }
        }

        &.password-input-set,
        &.password-check-input-set {
          .input-check {
            position: relative;
            .signup-input {
              width: 100%;
            }
            .custom-check-btn {
              display: inline-block;
              width: 28px;
              height: 28px;
              background: url(../assets/img/icon-check-off.svg) no-repeat center /
                100% 100%;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 16px;

              &.on {
                background: url(../assets/img/icon-check-on.svg) no-repeat
                  center / 100% 100%;
              }
            }
          }
        }

        &.password-check-input-set {
          margin-bottom: 20px;
        }

        &.name-input-set {
          margin-bottom: 16px;
          .signup-input {
            width: 100%;
          }
        }

        &.phone-number-set {
          margin-bottom: 0;
          .inputs-wrapper {
            display: flex;
            gap: 12px;
            select {
              width: 152px;
              appearance: none; // 기본 화살표 제거
              -webkit-appearance: none; // WebKit 브라우저 지원
              -moz-appearance: none; // Firefox 브라우저 지원
              background: url(../assets/img/icon-down-arrow.svg) no-repeat
                center right 16px / 22px 22px;

              &:focus {
                background: url(../assets/img/icon-up-arrow.svg) no-repeat
                  center right 16px / 22px 22px;
              }
            }
            input {
              width: 152px;
            }
          }
        }

        &.business-number-set {
          margin-top: 50px;
          margin-bottom: 16px;

          .input-button {
            display: flex;
            gap: 12px;

            input {
              width: 346px;
            }
            .primary-btn {
              width: 122px;
            }
          }
        }
        &.store-name-set {
          margin-bottom: 0;
          input {
            display: block;
            width: 100%;
          }
        }
      }
    }
    .terms-agreement {
      display: flex;
      gap: 10px;
      justify-content: center;
      margin-top: 17px;

      .checkbox-wrapper {
        position: relative;
        width: 16px;
        height: 16px;
        input {
          width: 16px;
          height: 16px;
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          z-index: 50;
          opacity: 0;
          cursor: pointer;

          &:checked + .custom-checkbox {
            background: url(../assets/img/check-fill-box.svg) no-repeat center /
              100% 100%;
          }
        }
        .custom-checkbox {
          width: 16px;
          height: 16px;
          background: url(../assets/img/check-box.svg) no-repeat center / 100%
            100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      > p {
        width: 454px;
        color: $gray;

        > a {
          color: black;
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }
    .btn-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 34px;
      .signup-btn {
        width: 480px;
        height: 60px;
        margin: 0 auto;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}
