.swiper {
  padding-top: 100px !important;
  margin-bottom: 80px;
}
.swiper .swiper-wrapper {
  height: 500px;
}
.swiper .swiper-wrapper .swiper-slide {
  background-color: #f2f2f2;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  width: 60px;
  height: 124px;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  content: "";
}
.swiper .swiper-button-prev {
  background: url(../assets/img/icon-swiper-1.svg) no-repeat center/100% 100%;
  left: 30px;
}
.swiper .swiper-button-next {
  background: url(../assets/img/icon-swiper-2.svg) no-repeat center/100% 100%;
  right: 30px;
}
.swiper .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  margin: 0 3px !important;
  background: #ffffff;
  opacity: 1;
}
.swiper .swiper-pagination-bullet-active {
  background: #000000;
}